# Virtual Environment
.venv/
venv/
env/
__pycache__/
*.pyc

# Large Media & Archives
*.zip
*.mp4

# Temporary test outputs
test*.png
screenshot*.png
back_m1.png
back_m2.png
test_view_back.jpg

# IDE & System Cache
.vscode/
.idea/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs & Deployment
*.log
.vercel
